.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 40px;

}

.smallSlate {
    border: 2px solid #222;
    border-radius: 5px;
    height: 110px;
    width: 70px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0 6px 0;
    margin: 0 auto;
}

.nick {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 6px;
}

.red {
    display: flex;
    justify-content: center;
    color: red;
    margin: 0 auto;
}

.green {
    display: flex;
    justify-content: center;
    color: green;
    margin: 0 auto;
}