.list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}


.red {
    color: red;
}

.green {
    color: green;
}